In [1]:
#TO-DO
#1. Outlier Detection
#2. Min-max scaling
#3. Correlation Analysis
#4. Conversion to time series
#--------------------------------------------------------------------------------------
# Akarsu -> Toplam pestisid, cozunmus oksijen, KOI, Toplam Kjedahl azotu, Nitrat azotu, 
# toplam fosfor, fekal koliform, toplam koliform

# Göl -> Toplam fosfor, toplam azot, klorofil-a

# Deniz -> Toplam koliform, fekal koliform, fekal streptokok, amonyak

# Atıksu -> BOİ,KOİ, toplam fosfor, toplam azot

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('../Data/csv_data_march_16.csv', low_memory = False)

In [4]:
pd.set_option('display.max_columns', 50)
df.columns = [c.replace(' ', '_') for c in df.columns]

In [5]:
akarsu_df = df.loc[df['Table_Type'] == 'Akarsu']
gol_df = df.loc[df['Table_Type'] == 'Göl']
aritma_df = df.loc[df['Table_Type'] == 'Arıtma']
deniz_df = df.loc[df['Table_Type'] == 'Deniz']

In [6]:
# Display missing data
missing = df.isna().sum()
missing_perc = missing / len(df)
m = pd.DataFrame(missing)
m_perc = pd.DataFrame(missing_perc)
m_df = pd.concat([m,m_perc], axis = 1)
m_df = m_df.rename(columns = {0: 'Total'})
# Create akarsu dataframe that has missing info
missing_akarsu = akarsu_df.isna().sum()
missing_akarsu_perc = missing_akarsu / len(akarsu_df)
m_akarsu = pd.DataFrame(missing_akarsu)
m_akarsu_perc = pd.DataFrame(missing_akarsu_perc)
m_akarsu_df = pd.concat([m_akarsu,m_akarsu_perc], axis = 1)
m_akarsu_df = m_akarsu_df.rename(columns = {0: 'Akarsu'})
# Create göl dataframe that has missing info
missing_gol = gol_df.isna().sum()
missing_gol_perc = missing_gol / len(gol_df)
m_gol = pd.DataFrame(missing_gol)
m_gol_perc = pd.DataFrame(missing_gol_perc)
m_gol_df = pd.concat([m_gol,m_gol_perc], axis = 1)
m_gol_df = m_gol_df.rename(columns = {0: 'Göl'})
# Create arıtma dataframe that has missing info
missing_aritma = aritma_df.isna().sum()
missing_aritma_perc = missing_aritma / len(aritma_df)
m_aritma = pd.DataFrame(missing_aritma)
m_aritma_perc = pd.DataFrame(missing_aritma_perc)
m_aritma_df = pd.concat([m_aritma,m_aritma_perc], axis = 1)
m_aritma_df = m_aritma_df.rename(columns = {0: 'Arıtma'})
# Create deniz dataframe that has missing info
missing_deniz = deniz_df.isna().sum()
missing_deniz_perc = missing_deniz / len(deniz_df)
m_deniz = pd.DataFrame(missing_deniz)
m_deniz_perc = pd.DataFrame(missing_deniz_perc)
m_deniz_df = pd.concat([m_deniz,m_deniz_perc], axis = 1)
m_deniz_df = m_deniz_df.rename(columns = {0: 'Deniz'})
# Merge into one dataframe
m_all = pd.concat([m_df, m_akarsu_df, m_gol_df, m_aritma_df,m_deniz_df], axis = 1)
m_all

,Total,Total,Akarsu,Akarsu,Göl,Göl,Arıtma,Arıtma,Deniz,Deniz
Table_Type,0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,0.000000
Year,0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,0.000000
Month,0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,0.000000
Bölge_Adı,0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,0.000000
Numune_Adı,0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,0.000000
Yer,0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,0.000000
Amonyak,11951,0.698480,7678,1.000000,1674,1.000000,1710,1.000000,821,0.137291
Amonyum_Azotu,11117,0.649737,1685,0.219458,1674,1.000000,1710,1.000000,5980,1.000000
Askıda_Katı_Madde,8680,0.507306,2290,0.298255,246,0.146953,96,0.056140,5980,1.000000
Toplam_Çözünmüş_Madde,16776,0.980479,7344,0.956499,1674,1.000000,1710,1.000000,5980,1.000000
Çözünmüş_Oksijen,2161,0.126300,1672,0.217765,243,0.145161,64,0.037427,114,0.019064
Debi_(Gün),16920,0.988895,7678,1.000000,1674,1.000000,1520,0.888889,5980,1.000000
Debi_(Saniye),15209,0.888895,6260,0.815316,1674,1.000000,1227,0.717544,5980,1.000000
Elektriksel_İletkenlik,8849,0.517183,2292,0.298515,502,0.299881,63,0.036842,5980,1.000000
Fekal_Streptokok,11887,0.694740,7678,1.000000,1674,1.000000,1710,1.000000,757,0.126589
Fekal_Koliform,3891,0.227411,1705,0.222063,1674,1.000000,62,0.036257,382,0.063880
Toplam_Koliform,2205,0.128872,1724,0.224538,242,0.144564,62,0.036257,109,0.018227
Toplam_Fosfor,8078,0.472122,1703,0.221803,246,0.146953,81,0.047368,5980,1.000000
Toplam_Azot,14046,0.820923,7678,1.000000,257,0.153524,63,0.036842,5980,1.000000
Toplam_Kjeldahl_Azotu,11718,0.684863,2286,0.297734,1674,1.000000,1710,1.000000,5980,1.000000
Toplam_Pestisit,16111,0.941613,6776,0.882521,1577,0.942055,1710,1.000000,5980,1.000000
Toplam_Fenol,11887,0.694740,7678,1.000000,1674,1.000000,1710,1.000000,757,0.126589
Işık_Geçirgenliği,12010,0.701929,7678,1.000000,995,0.594385,1710,1.000000,1559,0.260702
Kimyasal_Oksijen_İhtiyacı,8470,0.495032,1768,0.230268,559,0.333931,95,0.055556,5980,1.000000
Biyokimyasal_Oksijen_İhtiyacı,14912,0.871537,7097,0.924329,1674,1.000000,93,0.054386,5980,1.000000
pH,1940,0.113384,1516,0.197447,242,0.144564,62,0.036257,109,0.018227
Nitrat_Azotu,11122,0.650029,1690,0.220109,1674,1.000000,1710,1.000000,5980,1.000000
Nitrat,17053,0.996669,7678,1.000000,1674,1.000000,1710,1.000000,5980,1.000000
Nitrit_Azotu,11110,0.649328,1678,0.218546,1674,1.000000,1710,1.000000,5980,1.000000
Sıcaklık,3533,0.206487,1516,0.197447,501,0.299283,63,0.036842,1442,0.241137
Klorofil,15934,0.931268,7678,1.000000,498,0.297491,1710,1.000000,5980,1.000000
Tarih,1125,0.065751,857,0.111618,130,0.077658,51,0.029825,75,0.012542
Tuzluluk,8856,0.517592,2296,0.299036,506,0.302270,62,0.036257,5980,1.000000
Yağ,13318,0.778375,7678,1.000000,1674,1.000000,1710,1.000000,2188,0.365886
Orto_Fosfat,16458,0.961894,7026,0.915082,1674,1.000000,1710,1.000000,5980,1.000000
Açıklama,12893,0.753536,4755,0.619302,1258,0.751493,1685,0.985380,5127,0.857358
Renk,13320,0.778492,7678,1.000000,1674,1.000000,1710,1.000000,2190,0.366221
Koku,13310,0.777908,7678,1.000000,1674,1.000000,1710,1.000000,2180,0.364548
Renk_/_Koku,16738,0.978258,7678,1.000000,1674,1.000000,1710,1.000000,5608,0.937793

In [7]:
# Akarsu -> Toplam pestisid, cozunmus oksijen, KOI, Toplam Kjedahl azotu, Nitrat azotu, toplam fosfor, fekal koliform, toplam koliform
rel_col_names_akarsu = ['Numune_Adı', 'Tarih', 'Fekal_Koliform', 'Toplam_Koliform', 'Toplam_Fosfor', 'Toplam_Kjeldahl_Azotu', 'Toplam_Pestisit', 'Kimyasal_Oksijen_İhtiyacı', 'Nitrat_Azotu', 'Çözünmüş_Oksijen']
akarsu_rel = akarsu_df[rel_col_names_akarsu]
# Göl -> Toplam fosfor, toplam azot, klorofil-a
rel_col_names_gol = ['Numune_Adı', 'Tarih', 'Toplam_Fosfor', 'Toplam_Azot', 'Klorofil']
gol_rel = gol_df[rel_col_names_gol]
# Deniz -> Toplam koliform, fekal koliform, fekal streptokok, amonyak
rel_col_names_deniz = ['Numune_Adı', 'Tarih', 'Toplam_Koliform', 'Fekal_Koliform', 'Amonyak', 'Fekal_Streptokok']
deniz_rel = deniz_df[rel_col_names_deniz]
# Arıtma -> BOİ,KOİ, toplam fosfor, toplam azot
rel_col_names_aritma = ['Numune_Adı', 'Tarih', 'Biyokimyasal_Oksijen_İhtiyacı', 'Kimyasal_Oksijen_İhtiyacı', 'Toplam_Fosfor', 'Toplam_Azot']
aritma_rel = aritma_df[rel_col_names_aritma]

In [8]:
# Missing relevant features for Akarsu
missingr_akarsu = akarsu_rel.isna().sum()
missingr_akarsu_perc = missingr_akarsu / len(akarsu_rel)
mr_akarsu = pd.DataFrame(missingr_akarsu)
mr_akarsu_perc = pd.DataFrame(missingr_akarsu_perc)
mr_akarsu_df = pd.concat([mr_akarsu,mr_akarsu_perc], axis = 1)
mr_akarsu_df = mr_akarsu_df.rename(columns = {0: 'Akarsu'})
mr_akarsu_df

                           Akarsu    Akarsu
Numune_Adı                      0  0.000000
Tarih                         857  0.111618
Fekal_Koliform               1705  0.222063
Toplam_Koliform              1724  0.224538
Toplam_Fosfor                1703  0.221803
Toplam_Kjeldahl_Azotu        2286  0.297734
Toplam_Pestisit              6776  0.882521
Kimyasal_Oksijen_İhtiyacı    1768  0.230268
Nitrat_Azotu                 1690  0.220109
Çözünmüş_Oksijen             1672  0.217765

In [9]:
# Missing relevant features for Göl
missingr_gol = gol_rel.isna().sum()
missingr_gol_perc = missingr_gol / len(gol_rel)
mr_gol = pd.DataFrame(missingr_gol)
mr_gol_perc = pd.DataFrame(missingr_gol_perc)
mr_gol_df = pd.concat([mr_gol,mr_gol_perc], axis = 1)
mr_gol_df = mr_gol_df.rename(columns = {0: 'Göl'})
mr_gol_df

               Göl       Göl
Numune_Adı       0  0.000000
Tarih          130  0.077658
Toplam_Fosfor  246  0.146953
Toplam_Azot    257  0.153524
Klorofil       498  0.297491

In [10]:
# Missing relevant features for Deniz
missingr_deniz = deniz_rel.isna().sum()
missingr_deniz_perc = missingr_deniz / len(deniz_rel)
mr_deniz = pd.DataFrame(missingr_deniz)
mr_deniz_perc = pd.DataFrame(missingr_deniz_perc)
mr_deniz_df = pd.concat([mr_deniz,mr_deniz_perc], axis = 1)
mr_deniz_df = mr_deniz_df.rename(columns = {0: 'Deniz'})
mr_deniz_df

                  Deniz     Deniz
Numune_Adı            0  0.000000
Tarih                75  0.012542
Toplam_Koliform     109  0.018227
Fekal_Koliform      382  0.063880
Amonyak             821  0.137291
Fekal_Streptokok    757  0.126589

In [11]:
# Missing relevant features for Arıtma
missingr_aritma = aritma_rel.isna().sum()
missingr_aritma_perc = missingr_aritma / len(aritma_rel)
mr_aritma = pd.DataFrame(missingr_aritma)
mr_aritma_perc = pd.DataFrame(missingr_aritma_perc)
mr_aritma_df = pd.concat([mr_aritma, mr_aritma_perc], axis = 1)
mr_aritma_df = mr_aritma_df.rename(columns = {0: 'Arıtma'})
mr_aritma_df

                               Arıtma    Arıtma
Numune_Adı                          0  0.000000
Tarih                              51  0.029825
Biyokimyasal_Oksijen_İhtiyacı      93  0.054386
Kimyasal_Oksijen_İhtiyacı          95  0.055556
Toplam_Fosfor                      81  0.047368
Toplam_Azot                        63  0.036842

In [13]:
# Converting all dataframes to time series.
ts_akarsu = akarsu_rel.set_index('Tarih')
ts_akarsu.to_csv("../RelevantData/akarsu_relevant.csv")

ts_gol = gol_rel.set_index('Tarih')
ts_gol.to_csv("../RelevantData/gol_relevant.csv")

ts_deniz = deniz_rel.set_index('Tarih')
ts_deniz.to_csv("../RelevantData/deniz_relevant.csv")

ts_aritma = aritma_rel.set_index('Tarih')
ts_aritma.to_csv("../RelevantData/aritma_relevant.csv")